h1 {
    text-align: center;
}

/*Instruction qui transforme le curseur de la souris en une main sur le texte des paragraphe */
/* p {
    cursor: pointer;
} */

/*Cette class met un arrière plan balnc au cases cliqué */
.caseCliquer {
    background-color: rgb(255, 255, 255) !important;
}

#container {
    /*Les éléments fils du conteneur seront flexible*/
    display: flex;
    /*decale un element fils en bas en cas de manque place*/
    flex-wrap: wrap;
    /* justify-content: space-around; */
    width: 42%;
    height: auto;
    margin-left: 25%;

}

/*Rend les element fils flexible*/
#container>div {
    display: flex;
    cursor: pointer;
}

/*Propriété des cases couleur*/
.case {
    width: 50px;
    height: 70px;
    display: flex;
    border: 1px solid black;
    margin: 2px;
    align-items: center;
    justify-content: center;
}

.bleu {
    background-color: cadetblue;
    border-color: blue;
}

.rouge {
    background-color: palevioletred;
    border-color: red
}

.vert {
    background-color: rgba(95, 255, 47, 0.959);
    border-color: green;
}

.jaune {
    background-color: rgb(213, 235, 117);
    border-color: rgb(255, 230, 0);
}

/*propriete des cases de penalite*/
.casePenalite {
    background-color: rgb(211, 208, 208);
    border-color: gray;
    margin-top: 2px;
    margin-left: 18px;
    margin-right: 18px;


}

/*propriete de la grande case sur ligne des cases de penalite*/
#grandeCasePenalite {
    /*La largeur ci-dessous à été calculer de sorte à ce que la case soit sous les 6 premières case comme sur le modèle*/
    width: 330px;
    height: 70px;
    display: flex;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    margin: 2px;
    cursor: default;
}

/*Proprièté cases score*/
.caseScore {
    width: 106px;
    height: 70px;
    display: flex;
    border: 1px solid black;
    margin: 2px;
    align-items: center;
    justify-content: center;
    cursor: default;
}

/*Instruction qui rend le texte des cases score en route*/
.caseScore>p {
    color: red;
}

#reset {
    cursor: pointer;
    margin-top: 5px;
}